@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root > div {
  /* margin: auto; */
  max-width: 450px;
  height: inherit;
  position: relative;
}

/* 폰트 적용 클래스 - 뒤에 숫자가 폰트 굵기 */

.score100 {
  font-family: 'SCoreDream';
  font-weight: 100;
}

.score200 {
  font-family: 'SCoreDream';
  font-weight: 200;
}

.score300 {
  font-family: 'SCoreDream';
  font-weight: 300;
}

.score400 {
  font-family: 'SCoreDream';
  font-weight: 400;
}

.score500 {
  font-family: 'SCoreDream';
  font-weight: 500;
}

.score600 {
  font-family: 'SCoreDream';
  font-weight: 600;
}

.score700 {
  font-family: 'SCoreDream';
  font-weight: 700;
}

.score800 {
  font-family: 'SCoreDream';
  font-weight: 800;
}

.score900 {
  font-family: 'SCoreDream';
  font-weight: 900;
}